@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
   --Very-Dark-Magenta: hsl(300, 43%, 22%);
   --Soft-Pink: hsl(333, 80%, 67%);
   --reere: hsl(303, 10%, 53%);
   --reere2: hsla(302, 10%, 53%, 0.261);
   --Light-Grayish-Magenta: hsl(300, 24%, 96%);
   --White: hsl(0, 0%, 100%);
}




.attribution {
   font-size: 11px;
   text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%);
}

body {
   font-family: 'League Spartan', sans-serif;
   font-size: 15px;
   background-color: var(--Light-Grayish-Magenta);

}



@media screen and (min-width:1000px) {
   .uno {
      background-image: url(images/bg-pattern-top-desktop.svg);
      width: 800px;
      height: 800px;
      background-repeat: no-repeat;
      position: absolute;
      top: -10px;
      z-index: -1;
   }

   .dos {
      background-image: url(images/bg-pattern-bottom-desktop.svg);
      width: 800px;
      height: 700px;
      background-repeat: no-repeat;
      position: absolute;
      top: 300px;
      left: 1090px;
      z-index: -1;
   }
}

.container {
   margin-top: 5%;
}


.container__textos {
   display: flex;

   justify-content: space-evenly;
   flex-wrap: wrap;
}

.container__h1 {
   font-size: 50px;
   font-weight: 700px;
   color: var(--Very-Dark-Magenta);
}

.container__p {
   color: var(--Very-Dark-Magenta);
   font-size: 20px;
   width: 400px;
}

.container__califi {
   margin-left: 50px;
}



.recuadro {
   background-color: var(--reere2);
   padding: 0 20px;
   margin: 10px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   width: 350px;
   color: var(--Very-Dark-Magenta);
}

.recuadro h3 {
   margin-left: 20px;
}

.container__califi {
   margin-top: 30px;
   width: 700px;
}



@media screen and (min-width:1000px) {
   .recuadro:nth-child(2) {
      margin-left: 190px;
      margin-top: 20px;
   }

   .recuadro:nth-child(3) {
      margin-left: 250px;
      margin-top: 20px;
   }
}

.segundo {
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   width: 100%;
   height: 500px;

}

.segundo__textos {

   width: 350px;
   height: 150px;
   padding: 30px;
   background-color: var(--Very-Dark-Magenta);
   border-radius: 10px;
   color: var(--White);
   margin-top: 10px;
}

.segundo__usuario {
   display: flex;
   align-items: center;
   gap: 10px;
}

.segundo__usuario img {
   border-radius: 50%;
   width: 40px;
   height: 40px;
}

.segundo__usuario span {
   color: var(--Soft-Pink);

}

.segundo__usuario h2 {
   margin-bottom: 5px;
}

@media screen and (min-width:1000px) {
   .segundo__textos:nth-child(2) {
      margin-top: 60px;
   }

   .segundo__textos:nth-child(3) {
      margin-top: 120px;
   }

}

@media screen and (min-width:800px) {
   .recuadro {
      margin: 0 auto;
      margin-top: 10px;
   }
}